<!-- Top Navigation Include -->
<div data-ng-include="'js/app/views/nav.client.view.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Create Account
					</div>
				</div>
				<div class="panel-body">
					<div class="input-group">
					  	<span class="input-group-addon" id="account_name_label">Account Name</span>
					  	<input type="text" class="form-control" data-ng-model="new_account_name" aria-describedby="account_name_label">
					</div>
				</div>
				<div class="panel-footer" style="text-align:right;">
					<button class="btn btn-primary" data-ng-click="create.account()">
						Create New Account
					</button>
				</div>
			</div>
		</div>
	</div>
</div>