<!-- Top Navigation Include -->
<div data-ng-include="'js/app/views/nav.client.view.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Accounts
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									ID
								</th>
								<th>
									NAME
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="" data-ng-repeat="l in account_list">
								<td>
									{{l.Id}}
								</td>
								<td>
									{{l.Name}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>