<!-- Top Navigation Include -->
<div data-ng-include="'js/app/views/nav.client.view.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Create Order
					</div>
				</div>
				<div class="panel-body">
					<div class="input-group">
					  	<span class="input-group-addon">Name</span>
					  	<input data-ng-model="order_name" type="text" class="form-control" aria-label="Order name...">
					</div>
					<br/>
					<div class="input-group">
					  	<span class="input-group-addon">Account</span>
					  	<select data-ng-model="account_id" class="form-control">
					  		<option data-ng-repeat="a in accounts" value="{{a.Id}}">{{a.Name}}</option>
					  	</select>
					</div>
					<br/>
					<div class="input-group">
					  	<span class="input-group-addon">Products</span>
					  	<select data-ng-model="product_id" class="form-control">
					  		<option data-ng-repeat="p in products" value="{{p.Id}}">{{p.Name}}</option>
					  	</select>
					  	<span class="input-group-btn">
					       	<button class="btn btn-primary" type="button" data-ng-click="add_product()">+ Add</button>
					    </span>
					</div>
					<br/>
					<div class="product_list_container">
						<div>Added Products:</div>
						<ul id="product_list">
							<li data-ng-repeat="p in added_products">
								{{p.Name}}
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-footer" style="text-align:right;">
					<button class="btn btn-primary" data-ng-click="create_order()">
						Create New Order&nbsp;&nbsp;&raquo;
					</button>
				</div>
			</div>
		</div>
	</div>
</div>